$body-bg: #c1bdba;
$form-bg: #13232f; 

$main: #1ab188; 
$main-light: lighten($main,5%);
$main-dark: darken($main,20%);
$danger: rgb(255, 104, 104);

$gray-light: #a0b3b0;
$gray: #ddd;


$thin: 300;
$normal: 400;
$bold: 600; 
$fontSize:14px;

*, *:before, *:after {
  box-sizing: border-box;
  transition: 0.3s;
} 

#root {
  background:$form-bg;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
} 

.form {
  width:80%;
  transition:1s;
  background:rgba($form-bg,.9);
  padding: 100px 140px; 
  border-radius:20px;
  display: flex;
  flex-direction: column;
  &:hover, 
  &:focus,
  &:active
   {
    box-shadow:0 4px 10px 4px rgba(white,.3);
    transform: translateY(-10px)}
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0; 
  &:after {
    content: "";
    display: table;
    clear: both;
  }  
  li div {
    user-select: none;
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:1em;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:white;
    }
  }
  .active div {
    background:$main;
    color:white;
  }
} 

.btlrad { 
  border-top-left-radius: 10px; 
}
.btrrad { 
  border-top-right-radius: 10px; 
}
    

h1 {
  text-align:center;
  color:white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba(white,.5);
  transition:all 0.25s ease; 
  pointer-events: none;
  font-size:$fontSize;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:$fontSize;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:white;
}

input, textarea {
  font-size:$fontSize;
  display:block;
  width:100%;
  height:100%;
  padding:10px 15px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:49px;
}
 
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  > button:nth-child(1) { 
    border-bottom-left-radius: 10px;
  }
}

.button {
  flex: auto;
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:1.4rem;
  font-weight:$bold;
  user-select: none;
  cursor: pointer; 
  letter-spacing:.1em;
  background:$main-light;
  color:white; 
  &:hover, 
  &:focus {
    background:$main-dark;}
}
.logout {
  padding:10px 20px;
  margin: 20px;
}

.cancel {
  background:$main; 
  border-bottom-right-radius: 10px;
} 

.error-msg {
  color:$danger;
  text-align: center;
  width: 100%;
  padding: 20px 5px ;
  white-space: pre-line;
  visibility: hidden;
}
.error-input {
  border-color: $danger !important;
}

@media (min-width:1200px) {
  .row {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    &-3 > div {
      width:33%;
    }
    &-2 > div {
      width:50%;
    }
  }
  .form {
    width: 50%;
  }
  .buttons {
    flex-direction: row;
    > button:nth-child(1) {
      width:30%;
    }
   } 
} 